{% extends 'index4.html' %}
{% load static %}
{% block body %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Bin Detail</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Bin Detail</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered table-striped" id="example1">
                                <tr>
                                    <th>Idname</th>
                                    <td>{{data.idname}}</td>
                                    <th>Area</th>
                                    <td>{{data.area}}</td>
                                </tr>

                                <tr>
                                    <th>Locality</th>
                                    <td>{{data.locality}}
                                    <th>Landmark</th>
                                    <td>{{data.landmark}}</td>
                                </tr>

                                <tr>
                                    <th>Loadtype</th>
                                    <td>{{data.loadtype}}</td>
                                    <th>Period</th>
                                    <td>{{data.period}}</td>
                                </tr>
                                <tr>
                                    <th>Bus</th>
                                    <td>{{data.bus}}</td>
                                    <th>Assign To</th>
                                    <td>{{data.driver.user.username}}</td>
                                </tr>
                            </table>


                            <!-- Button trigger modal -->
                            {% if data.status == "Completed" %}

                            {% else %}
                            <center>
                                <button class="btn btn-primary mt-5" data-target="#exampleModalCenter" data-toggle="modal"
                                        type="button">
                                    Take Action
                                </button>
                            </center>
                            {% endif %}

<h1 class="m-0 mt-4">Tracking History</h1>
                            <div class="card-body">
                                <table class="table table-bordered table-striped" id="example">
                                    <thead>
                                    <tr>
                                        <th>Remark</th>
                                        <th>Status</th>
                                        <th>Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in traking %}
                                    <tr>
                                        <td>{{i.remark}}</td>
                                        <td>{{i.status}}
                                        </td>
                                        <td>{{i.time}}
                                    </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>


                            <!-- Modal -->
                            <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="exampleModalCenter"
                                 role="dialog" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Take Action</h5>
                                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <label>Remark:</label>
                                                <textarea class="form-control" name="remark"
                                                          placeholder="Remark"></textarea>


                                                <label>Choose Status</label>
                                                <select class="form-control" name="status">
                                                    <option>Choose you status</option>
                                                    <option value="On The Way">On The Way</option>
                                                    <option value="Completed">Completed</option>
                                                </select>

                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" data-dismiss="modal" type="clear">
                                                        Close
                                                    </button>
                                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}