{% extends 'index4.html' %}
{% load static %}
{% block body %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Complain Detail</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <tr>
                                    <th>Complain number</th>
                                    <td colspan="3">{{data.complain}}</td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td>{{data.register.user.first_name}} {{data.register.user.last_name}}</td>
                                    <th>Email</th>
                                    <td>{{data.register.user.email}}</td>
                                </tr>

                                <tr>
                                    <th>Mobile Number</th>
                                    <td>{{data.register.contactnumber}}</td>
                                    <th>Address of Garbage</th>
                                    <td>{{data.address}}</td>
                                </tr>

                                <tr>
                                    <th>Area</th>
                                    <td>{{data.area}}</td>
                                    <th>Locality</th>
                                    <td>{{data.locality}}</td>
                                </tr>
                                <tr>
                                    <th>Landmark</th>
                                    <td>{{data.landmark}}</td>
                                    <th>Note</th>
                                    <td>{{data.note}}</td>
                                </tr>
                                <tr>
                                    <th>Image</th>
                                    <td><img src="{{data.photo.url}}"></td>
                                    <th>Complain Final Status</th>
                                    <td>{{data.area}}</td>
                                </tr>
                                <tr>
                                    <th>Assign To</th>
                                    <td>{{data.driver.user.username}}</td>
                                    <th>Complain Date</th>
                                    <td>{{data.creationdate}}</td>
                                </tr>
                                <tr>
                                    <th>Remark</th>
                                    <td>{{traking.last.remark}}</td>
                                </tr>


                            </table>


                            <!-- Button trigger modal -->
                            {% if data.status == "Completed" %}

                            {% else %}
                            <center>
                                <button type="button" class="btn btn-primary mt-5" data-toggle="modal"
                                        data-target="#exampleModalCenter">
                                    Take Action
                                </button>
                            </center>
                            {% endif %}

                            <h1 class="m-0 mt-4">Tracking History</h1>
                            <div class="card-body">
                                <table id="example" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Remark</th>
                                        <th>Status</th>
                                        <th>Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in traking %}
                                    <tr>
                                        <td>{{i.remark}}</td>
                                        <td>{{i.status}}
                                        </td>
                                        <td>{{i.time}}
                                    </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>


                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Take Action</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <label>Remark:</label>
                                                <textarea class="form-control" name="remark"
                                                          placeholder="Remark"></textarea>


                                                <label>Choose Status</label>
                                                <select class="form-control" name="status">
                                                    <option>Choose you status</option>
                                                    <option value="On The Way">On The Way</option>
                                                    <option value="Completed">Completed</option>
                                                </select>

                                                <div class="modal-footer">
                                                    <button type="Close" class="btn btn-secondary" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
        {% endblock %}