{% extends 'index4.html' %}
{% load static %}
{% block body %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Complain History</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Complain History</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>


    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
              <div class="card">

              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Complain Number</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Creationdate</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for i in data %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.complain}}</td>
                      <td>{{i.register.user.username}}
                    </td>
                      <td>{{i.register.contactnumber}}
                    </td>
                    <td>{{i.register.user.email}}</td>
                    <td>{{i.status}}</td>
                    <td>{{i.creationdate}}</td>




                  </tr>
                  {% endfor %}
                  </tbody>

                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </section>
 </div>
{% endblock %}